---
import Layout from "../layouts/Layout.astro";
import Projects from "../components/Projects.astro";
---

<Layout title="">
  <main class="max-w-screen-md mx-6 lg:mx-auto my-16">
    <h1 class="text-white text-center font-light tracking-wide my-16">
      ✨ Thrilled to contribute, I am committed to surpassing expectations and
      overcoming challenges, delivering exceptional results. With a proactive
      approach, I foster collaboration, ensuring each project exceeds its goals,
      leaving a lasting positive impact on all stakeholders involved. ✨
    </h1>
    <Projects isHideViewAll />
  </main>
</Layout>
