---
import { Instagram, Twitter, GitHub, Mail } from "react-feather";

const socialProfiles = [
  {
    link: "",
    element: Instagram,
  },
  {
    link: "",
    element: Twitter,
  },
  {
    link: "",
    element: GitHub,
  },
  {
    link: "",
    element: Mail,
  },
];
---

<footer class="max-w-screen-md mx-2 lg:mx-auto my-8">
  <h3 class="footer-heading text-stone-500 text-center text-lg mb-4">
    Let's connect
  </h3>
  <div class="social-profiles flex justify-center items-center gap-6">
    {
      socialProfiles.map((item) => (
        <a href={item.link} target="_blank">
          <item.element color="white" />
        </a>
      ))
    }
  </div>
</footer>
